In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s3e2/sample_submission.csv
/kaggle/input/playground-series-s3e2/train.csv
/kaggle/input/playground-series-s3e2/test.csv

In [2]:
df_train=pd.read_csv('/kaggle/input/playground-series-s3e2/train.csv')
df_test=pd.read_csv('/kaggle/input/playground-series-s3e2/test.csv')

In [3]:
df_train

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15299,15299,Female,22.0,0,0,No,Govt_job,Urban,72.63,19.5,never smoked,0
15300,15300,Female,46.0,1,0,Yes,Private,Urban,101.19,32.1,never smoked,0
15301,15301,Female,75.0,0,0,Yes,Self-employed,Urban,87.69,26.2,never smoked,0
15302,15302,Male,46.0,0,0,Yes,Private,Rural,101.13,22.5,Unknown,0
15303,15303,Female,14.0,0,0,No,Private,Rural,85.12,24.7,never smoked,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [5]:
df_train.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [6]:
df_test

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes
...,...,...,...,...,...,...,...,...,...,...,...
10199,25503,Female,27.0,0,0,No,Private,Urban,75.77,17.6,never smoked
10200,25504,Male,49.0,0,0,Yes,Private,Urban,102.91,26.7,Unknown
10201,25505,Female,3.0,0,0,No,children,Rural,104.04,18.3,Unknown
10202,25506,Male,31.0,0,0,Yes,Private,Urban,82.41,28.7,never smoked
10203,25507,Female,2.0,0,0,No,children,Urban,85.12,14.8,Unknown

In [7]:
df_test.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [8]:
target=df_train[['stroke']]
df_train=df_train.drop(['stroke'],axis=1)

In [9]:
df=pd.concat([df_train,df_test],axis=0)

In [10]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25508 entries, 0 to 10203
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 25508 non-null  int64
 1   gender             25508 non-null  object
 2   age                25508 non-null  float64
 3   hypertension       25508 non-null  int64
 4   heart_disease      25508 non-null  int64
 5   ever_married       25508 non-null  object
 6   work_type          25508 non-null  object
 7   Residence_type     25508 non-null  object
 8   avg_glucose_level  25508 non-null  float64
 9   bmi                25508 non-null  float64
 10  smoking_status     25508 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 2.3+ MB

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked

In [11]:
print(df.hypertension.unique())
print(df.heart_disease.unique())
print(df.work_type.unique())
print(df.Residence_type.unique())
print(df.smoking_status.unique())
print(df.ever_married.unique())
# no natural order thus one-hot encoding the columns
# 5 columns needed to be OHE

[0 1]
[0 1]
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
['Urban' 'Rural']
['never smoked' 'formerly smoked' 'Unknown' 'smokes']
['Yes' 'No']

In [12]:
# df_hyper=df[['hypertension']]
# df_heart=df[['heart_disease']]
df_work=df[['work_type']]
df_Residence=df[['Residence_type']]
df_smoking=df[['smoking_status']]
df_married=df[['ever_married']]
df_gender=df[['gender']]

In [13]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
count,25508.000000,25508.000000,25508.000000,25508.000000,25508.000000,25508.000000
mean,12753.500000,41.618926,0.050416,0.022699,89.103023,28.164577
std,7363.669669,21.307663,0.218805,0.148944,25.651929,6.727105
min,0.000000,0.080000,0.000000,0.000000,55.120000,10.300000
25%,6376.750000,26.000000,0.000000,0.000000,74.980000,23.500000
50%,12753.500000,43.000000,0.000000,0.000000,85.120000,27.700000
75%,19130.250000,57.000000,0.000000,0.000000,96.850000,32.000000
max,25507.000000,82.000000,1.000000,1.000000,267.600000,97.600000

In [14]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
df_work

      work_type
0       Private
1       Private
2       Private
3       Private
4       Private
...         ...
10199   Private
10200   Private
10201  children
10202   Private
10203  children

[25508 rows x 1 columns]

In [17]:
encoder1=OneHotEncoder()
dumm1=pd.DataFrame(encoder1.fit_transform(df_work).toarray(),columns=encoder1.get_feature_names_out(df_work.columns))
encoder1.get_feature_names_out()

array(['work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed',
       'work_type_children'], dtype=object)

In [18]:
dumm1

,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...
25503,0.0,0.0,1.0,0.0,0.0
25504,0.0,0.0,1.0,0.0,0.0
25505,0.0,0.0,0.0,0.0,1.0
25506,0.0,0.0,1.0,0.0,0.0
25507,0.0,0.0,0.0,0.0,1.0

In [19]:
encoder2=OneHotEncoder()
dumm2=pd.DataFrame(encoder2.fit_transform(df_Residence).toarray(),columns=encoder2.get_feature_names_out(df_Residence.columns))
encoder2.get_feature_names_out()

array(['Residence_type_Rural', 'Residence_type_Urban'], dtype=object)

In [20]:
dumm2

       Residence_type_Rural  Residence_type_Urban
0                       0.0                   1.0
1                       1.0                   0.0
2                       1.0                   0.0
3                       0.0                   1.0
4                       1.0                   0.0
...                     ...                   ...
25503                   0.0                   1.0
25504                   0.0                   1.0
25505                   1.0                   0.0
25506                   0.0                   1.0
25507                   0.0                   1.0

[25508 rows x 2 columns]

In [21]:
encoder3=OneHotEncoder()
dumm3=pd.DataFrame(encoder3.fit_transform(df_smoking).toarray(),columns=encoder3.get_feature_names_out(df_smoking.columns))
encoder3.get_feature_names_out()

array(['smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes'],
      dtype=object)

In [22]:
dumm3

,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0
...,...,...,...,...
25503,0.0,0.0,1.0,0.0
25504,1.0,0.0,0.0,0.0
25505,1.0,0.0,0.0,0.0
25506,0.0,0.0,1.0,0.0
25507,1.0,0.0,0.0,0.0

In [23]:
encoder4=OneHotEncoder()
dumm4=pd.DataFrame(encoder4.fit_transform(df_married).toarray(),columns=encoder4.get_feature_names_out(df_married.columns))
encoder4.get_feature_names_out()

array(['ever_married_No', 'ever_married_Yes'], dtype=object)

In [24]:
dumm4

       ever_married_No  ever_married_Yes
0                  0.0               1.0
1                  0.0               1.0
2                  0.0               1.0
3                  0.0               1.0
4                  1.0               0.0
...                ...               ...
25503              1.0               0.0
25504              0.0               1.0
25505              1.0               0.0
25506              0.0               1.0
25507              1.0               0.0

[25508 rows x 2 columns]

In [25]:
encoder5=OneHotEncoder()
dumm5=pd.DataFrame(encoder5.fit_transform(df_gender).toarray(),columns=encoder5.get_feature_names_out(df_gender.columns))
encoder5.get_feature_names_out()

array(['gender_Female', 'gender_Male', 'gender_Other'], dtype=object)

In [26]:
dumm5

       gender_Female  gender_Male  gender_Other
0                0.0          1.0           0.0
1                0.0          1.0           0.0
2                1.0          0.0           0.0
3                0.0          1.0           0.0
4                1.0          0.0           0.0
...              ...          ...           ...
25503            1.0          0.0           0.0
25504            0.0          1.0           0.0
25505            1.0          0.0           0.0
25506            0.0          1.0           0.0
25507            1.0          0.0           0.0

[25508 rows x 3 columns]

In [27]:
df_age=df[['age']]
df_glucose=df[['avg_glucose_level']]
df_bmi=df[['bmi']]

In [28]:
from sklearn.preprocessing import RobustScaler

In [29]:
scaler1=RobustScaler()
scaler2=RobustScaler()
scaler3=RobustScaler()

In [30]:
dumm6=pd.DataFrame(scaler1.fit_transform(df_age),columns=scaler1.get_feature_names_out(df_age.columns))

In [31]:
dumm6

            age
0     -0.483871
1     -0.322581
2     -0.032258
3      0.419355
4     -0.612903
...         ...
25503 -0.516129
25504  0.193548
25505 -1.290323
25506 -0.387097
25507 -1.322581

[25508 rows x 1 columns]

In [32]:
dumm7=pd.DataFrame(scaler2.fit_transform(df_glucose),columns=scaler2.get_feature_names_out(df_glucose.columns))

In [33]:
dumm7

       avg_glucose_level
0              -0.255601
1              -0.305441
2               0.817558
3              -0.925926
4              -0.537723
...                  ...
25503          -0.427526
25504           0.813443
25505           0.865112
25506          -0.123914
25507           0.000000

[25508 rows x 1 columns]

In [34]:
dumm8=pd.DataFrame(scaler3.fit_transform(df_bmi),columns=scaler3.get_feature_names_out(df_bmi.columns))

In [35]:
dumm8

            bmi
0      0.400000
1     -0.447059
2      1.482353
3      0.129412
4      0.129412
...         ...
25503 -1.188235
25504 -0.117647
25505 -1.105882
25506  0.117647
25507 -1.517647

[25508 rows x 1 columns]

In [36]:
df_new=pd.concat([dumm1,dumm2,dumm3,dumm4,dumm5,dumm6,dumm7,dumm8],axis=1)

In [37]:
# df_new.drop(['age'],axis=1,inplace=True)

In [38]:
df_new

,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,ever_married_No,ever_married_Yes,gender_Female,gender_Male,gender_Other,age,avg_glucose_level,bmi
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.483871,-0.255601,0.400000
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.322581,-0.305441,-0.447059
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,-0.032258,0.817558,1.482353
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.419355,-0.925926,0.129412
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,-0.612903,-0.537723,0.129412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25503,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,-0.516129,-0.427526,-1.188235
25504,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.193548,0.813443,-0.117647
25505,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.290323,0.865112,-1.105882
25506,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.387097,-0.123914,0.117647
25507,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.322581,0.000000,-1.517647

In [39]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense,Dropout, BatchNormalization
from keras import regularizers

In [40]:
# definig the model
model=Sequential()
model.add(Dense(8192,input_dim=19,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(4096,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(2048,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(1024,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(512,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(256,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(128,activation='selu'))
model.add(Dropout(0.4))
model.add(Dense(64,activation='selu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss=['binary_crossentropy'],optimizer=tf.keras.optimizers.Adam(),metrics = [tf.keras.metrics.AUC(num_thresholds=700000,curve='ROC')])
model.summary()

2023-01-16 17:40:36.982040: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:37.076897: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:37.077728: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:37.079699: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-16 17:40:37.080078: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:37.080806: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:37.081455: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:39.319952: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:39.320846: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:39.321561: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-01-16 17:40:39.322149: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 15401 MB memory:  -> device: 0, name: Tesla P100-PCIE-16GB, pci bus id: 0000:00:04.0, compute capability: 6.0

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8192)              163840
_________________________________________________________________
dropout (Dropout)            (None, 8192)              0
_________________________________________________________________
dense_1 (Dense)              (None, 4096)              33558528
_________________________________________________________________
dropout_1 (Dropout)          (None, 4096)              0
_________________________________________________________________
dense_2 (Dense)              (None, 2048)              8390656
_________________________________________________________________
dropout_2 (Dropout)          (None, 2048)              0
_________________________________________________________________
dense_3 (Dense)              (None, 1024)              2098176
_________________________________________________________________
dropout_3 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_4 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_4 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_5 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_5 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_6 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 65
=================================================================
Total params: 44,908,545
Trainable params: 44,908,545
Non-trainable params: 0
_________________________________________________________________

In [41]:
df_new.shape
train=df_new.iloc[:15304]

test=df_new.iloc[15304:25508]

In [42]:
# test
# train=pd.concat([train,target],axis=1)

In [43]:
train

,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,ever_married_No,ever_married_Yes,gender_Female,gender_Male,gender_Other,age,avg_glucose_level,bmi
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.483871,-0.255601,0.400000
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.322581,-0.305441,-0.447059
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,-0.032258,0.817558,1.482353
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.419355,-0.925926,0.129412
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,-0.612903,-0.537723,0.129412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15299,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,-0.677419,-0.571102,-0.964706
15300,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.096774,0.734797,0.517647
15301,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.032258,0.117513,-0.176471
15302,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.096774,0.732053,-0.611765
15303,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,-0.935484,0.000000,-0.352941

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train,target,test_size=0.2,random_state=420)

In [45]:
model.fit(X_train,y_train,batch_size=512,epochs=100,validation_data=(X_test,y_test))

2023-01-16 17:40:40.587115: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/100
24/24 [==============================] - 3s 46ms/step - loss: 0.5043 - auc: 0.5585 - val_loss: 0.1994 - val_auc: 0.6419
Epoch 2/100
24/24 [==============================] - 1s 33ms/step - loss: 0.2584 - auc: 0.6442 - val_loss: 0.1629 - val_auc: 0.8583
Epoch 3/100
24/24 [==============================] - 1s 36ms/step - loss: 0.2292 - auc: 0.7187 - val_loss: 0.1438 - val_auc: 0.8506
Epoch 4/100
24/24 [==============================] - 1s 33ms/step - loss: 0.2066 - auc: 0.7387 - val_loss: 0.1462 - val_auc: 0.8548
Epoch 5/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1802 - auc: 0.7777 - val_loss: 0.1399 - val_auc: 0.8699
Epoch 6/100
24/24 [==============================] - 1s 37ms/step - loss: 0.1733 - auc: 0.7982 - val_loss: 0.1400 - val_auc: 0.8648
Epoch 7/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1635 - auc: 0.8121 - val_loss: 0.1452 - val_auc: 0.8669
Epoch 8/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1644 - auc: 0.8123 - val_loss: 0.1581 - val_auc: 0.8592
Epoch 9/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1581 - auc: 0.8127 - val_loss: 0.1492 - val_auc: 0.8695
Epoch 10/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1570 - auc: 0.8033 - val_loss: 0.1415 - val_auc: 0.8709
Epoch 11/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1490 - auc: 0.8315 - val_loss: 0.1426 - val_auc: 0.8600
Epoch 12/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1490 - auc: 0.8295 - val_loss: 0.1397 - val_auc: 0.8702
Epoch 13/100
24/24 [==============================] - 1s 35ms/step - loss: 0.1423 - auc: 0.8439 - val_loss: 0.1417 - val_auc: 0.8677
Epoch 14/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1478 - auc: 0.8283 - val_loss: 0.1382 - val_auc: 0.8705
Epoch 15/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1431 - auc: 0.8384 - val_loss: 0.1399 - val_auc: 0.8705
Epoch 16/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1449 - auc: 0.8301 - val_loss: 0.1416 - val_auc: 0.8725
Epoch 17/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1429 - auc: 0.8405 - val_loss: 0.1401 - val_auc: 0.8735
Epoch 18/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1401 - auc: 0.8470 - val_loss: 0.1384 - val_auc: 0.8706
Epoch 19/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1411 - auc: 0.8418 - val_loss: 0.1383 - val_auc: 0.8706
Epoch 20/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1384 - auc: 0.8474 - val_loss: 0.1410 - val_auc: 0.8687
Epoch 21/100
24/24 [==============================] - 1s 38ms/step - loss: 0.1399 - auc: 0.8476 - val_loss: 0.1386 - val_auc: 0.8702
Epoch 22/100
24/24 [==============================] - 1s 39ms/step - loss: 0.1392 - auc: 0.8457 - val_loss: 0.1390 - val_auc: 0.8693
Epoch 23/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1349 - auc: 0.8639 - val_loss: 0.1385 - val_auc: 0.8704
Epoch 24/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1381 - auc: 0.8514 - val_loss: 0.1623 - val_auc: 0.8670
Epoch 25/100
24/24 [==============================] - 1s 35ms/step - loss: 0.1344 - auc: 0.8619 - val_loss: 0.1380 - val_auc: 0.8704
Epoch 26/100
24/24 [==============================] - 1s 34ms/step - loss: 0.1336 - auc: 0.8610 - val_loss: 0.1482 - val_auc: 0.8663
Epoch 27/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1390 - auc: 0.8504 - val_loss: 0.1379 - val_auc: 0.8696
Epoch 28/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1348 - auc: 0.8594 - val_loss: 0.1409 - val_auc: 0.8667
Epoch 29/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1342 - auc: 0.8597 - val_loss: 0.1406 - val_auc: 0.8690
Epoch 30/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1313 - auc: 0.8663 - val_loss: 0.1390 - val_auc: 0.8679
Epoch 31/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1345 - auc: 0.8592 - val_loss: 0.1413 - val_auc: 0.8711
Epoch 32/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1318 - auc: 0.8673 - val_loss: 0.1396 - val_auc: 0.8669
Epoch 33/100
24/24 [==============================] - 1s 34ms/step - loss: 0.1304 - auc: 0.8725 - val_loss: 0.1382 - val_auc: 0.8685
Epoch 34/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1325 - auc: 0.8640 - val_loss: 0.1395 - val_auc: 0.8686
Epoch 35/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1322 - auc: 0.8636 - val_loss: 0.1480 - val_auc: 0.8607
Epoch 36/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1305 - auc: 0.8680 - val_loss: 0.1385 - val_auc: 0.8683
Epoch 37/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1302 - auc: 0.8686 - val_loss: 0.1428 - val_auc: 0.8664
Epoch 38/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1309 - auc: 0.8730 - val_loss: 0.1371 - val_auc: 0.8695
Epoch 39/100
24/24 [==============================] - 1s 34ms/step - loss: 0.1305 - auc: 0.8697 - val_loss: 0.1419 - val_auc: 0.8653
Epoch 40/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1308 - auc: 0.8694 - val_loss: 0.1380 - val_auc: 0.8678
Epoch 41/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1337 - auc: 0.8607 - val_loss: 0.1387 - val_auc: 0.8670
Epoch 42/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1338 - auc: 0.8594 - val_loss: 0.1394 - val_auc: 0.8683
Epoch 43/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1332 - auc: 0.8631 - val_loss: 0.1481 - val_auc: 0.8703
Epoch 44/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1318 - auc: 0.8658 - val_loss: 0.1435 - val_auc: 0.8645
Epoch 45/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1319 - auc: 0.8643 - val_loss: 0.1418 - val_auc: 0.8647
Epoch 46/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1323 - auc: 0.8658 - val_loss: 0.1393 - val_auc: 0.8687
Epoch 47/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1270 - auc: 0.8783 - val_loss: 0.1393 - val_auc: 0.8673
Epoch 48/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1298 - auc: 0.8738 - val_loss: 0.1388 - val_auc: 0.8697
Epoch 49/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1295 - auc: 0.8738 - val_loss: 0.1399 - val_auc: 0.8659
Epoch 50/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1312 - auc: 0.8681 - val_loss: 0.1387 - val_auc: 0.8667
Epoch 51/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1284 - auc: 0.8755 - val_loss: 0.1391 - val_auc: 0.8685
Epoch 52/100
24/24 [==============================] - 1s 34ms/step - loss: 0.1299 - auc: 0.8716 - val_loss: 0.1378 - val_auc: 0.8706
Epoch 53/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1276 - auc: 0.8792 - val_loss: 0.1414 - val_auc: 0.8694
Epoch 54/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1315 - auc: 0.8683 - val_loss: 0.1429 - val_auc: 0.8558
Epoch 55/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1314 - auc: 0.8638 - val_loss: 0.1401 - val_auc: 0.8680
Epoch 56/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1282 - auc: 0.8768 - val_loss: 0.1433 - val_auc: 0.8671
Epoch 57/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1307 - auc: 0.8690 - val_loss: 0.1427 - val_auc: 0.8643
Epoch 58/100
24/24 [==============================] - 1s 35ms/step - loss: 0.1306 - auc: 0.8678 - val_loss: 0.1406 - val_auc: 0.8705
Epoch 59/100
24/24 [==============================] - 1s 34ms/step - loss: 0.1287 - auc: 0.8779 - val_loss: 0.1385 - val_auc: 0.8706
Epoch 60/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1297 - auc: 0.8729 - val_loss: 0.1389 - val_auc: 0.8703
Epoch 61/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1293 - auc: 0.8700 - val_loss: 0.1385 - val_auc: 0.8696
Epoch 62/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1332 - auc: 0.8625 - val_loss: 0.1384 - val_auc: 0.8702
Epoch 63/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1317 - auc: 0.8667 - val_loss: 0.1417 - val_auc: 0.8657
Epoch 64/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1314 - auc: 0.8653 - val_loss: 0.1394 - val_auc: 0.8676
Epoch 65/100
24/24 [==============================] - 1s 38ms/step - loss: 0.1284 - auc: 0.8733 - val_loss: 0.1421 - val_auc: 0.8698
Epoch 66/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1291 - auc: 0.8740 - val_loss: 0.1418 - val_auc: 0.8707
Epoch 67/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1282 - auc: 0.8726 - val_loss: 0.1427 - val_auc: 0.8710
Epoch 68/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1318 - auc: 0.8622 - val_loss: 0.1405 - val_auc: 0.8707
Epoch 69/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1273 - auc: 0.8793 - val_loss: 0.1435 - val_auc: 0.8616
Epoch 70/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1296 - auc: 0.8719 - val_loss: 0.1402 - val_auc: 0.8711
Epoch 71/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1294 - auc: 0.8717 - val_loss: 0.1376 - val_auc: 0.8694
Epoch 72/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1308 - auc: 0.8703 - val_loss: 0.1451 - val_auc: 0.8695
Epoch 73/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1275 - auc: 0.8743 - val_loss: 0.1413 - val_auc: 0.8673
Epoch 74/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1269 - auc: 0.8809 - val_loss: 0.1414 - val_auc: 0.8674
Epoch 75/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1274 - auc: 0.8758 - val_loss: 0.1387 - val_auc: 0.8665
Epoch 76/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1286 - auc: 0.8753 - val_loss: 0.1416 - val_auc: 0.8670
Epoch 77/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1311 - auc: 0.8676 - val_loss: 0.1435 - val_auc: 0.8681
Epoch 78/100
24/24 [==============================] - 1s 35ms/step - loss: 0.1267 - auc: 0.8806 - val_loss: 0.1440 - val_auc: 0.8676
Epoch 79/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1260 - auc: 0.8817 - val_loss: 0.1399 - val_auc: 0.8643
Epoch 80/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1288 - auc: 0.8753 - val_loss: 0.1408 - val_auc: 0.8645
Epoch 81/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1286 - auc: 0.8752 - val_loss: 0.1389 - val_auc: 0.8644
Epoch 82/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1284 - auc: 0.8755 - val_loss: 0.1434 - val_auc: 0.8689
Epoch 83/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1284 - auc: 0.8748 - val_loss: 0.1425 - val_auc: 0.8690
Epoch 84/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1280 - auc: 0.8788 - val_loss: 0.1413 - val_auc: 0.8684
Epoch 85/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1278 - auc: 0.8795 - val_loss: 0.1391 - val_auc: 0.8668
Epoch 86/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1258 - auc: 0.8797 - val_loss: 0.1380 - val_auc: 0.8686
Epoch 87/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1260 - auc: 0.8804 - val_loss: 0.1380 - val_auc: 0.8673
Epoch 88/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1283 - auc: 0.8756 - val_loss: 0.1414 - val_auc: 0.8687
Epoch 89/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1239 - auc: 0.8874 - val_loss: 0.1409 - val_auc: 0.8699
Epoch 90/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1279 - auc: 0.8762 - val_loss: 0.1390 - val_auc: 0.8667
Epoch 91/100
24/24 [==============================] - 1s 35ms/step - loss: 0.1253 - auc: 0.8800 - val_loss: 0.1384 - val_auc: 0.8686
Epoch 92/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1277 - auc: 0.8796 - val_loss: 0.1401 - val_auc: 0.8670
Epoch 93/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1240 - auc: 0.8842 - val_loss: 0.1387 - val_auc: 0.8681
Epoch 94/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1259 - auc: 0.8817 - val_loss: 0.1385 - val_auc: 0.8673
Epoch 95/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1272 - auc: 0.8781 - val_loss: 0.1415 - val_auc: 0.8694
Epoch 96/100
24/24 [==============================] - 1s 39ms/step - loss: 0.1246 - auc: 0.8851 - val_loss: 0.1378 - val_auc: 0.8695
Epoch 97/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1275 - auc: 0.8807 - val_loss: 0.1379 - val_auc: 0.8701
Epoch 98/100
24/24 [==============================] - 1s 36ms/step - loss: 0.1243 - auc: 0.8845 - val_loss: 0.1395 - val_auc: 0.8681
Epoch 99/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1253 - auc: 0.8832 - val_loss: 0.1381 - val_auc: 0.8700
Epoch 100/100
24/24 [==============================] - 1s 33ms/step - loss: 0.1248 - auc: 0.8862 - val_loss: 0.1394 - val_auc: 0.8661

In [46]:
y_pred=model.predict(test)

In [47]:
y_pred.flatten()

array([0.04018894, 0.12881617, 0.00056296, ..., 0.00044946, 0.00487187,
       0.00016769], dtype=float32)

In [48]:
test.index.values

array([15304, 15305, 15306, ..., 25505, 25506, 25507])

In [49]:
sub_df=pd.DataFrame()

In [50]:
sub_df['id']=test.index.values

In [51]:
sub_df['stroke']=y_pred.flatten()

In [52]:
sub_df

          id    stroke
0      15304  0.040189
1      15305  0.128816
2      15306  0.000563
3      15307  0.107871
4      15308  0.017899
...      ...       ...
10199  25503  0.000024
10200  25504  0.028948
10201  25505  0.000449
10202  25506  0.004872
10203  25507  0.000168

[10204 rows x 2 columns]

In [53]:
sub_df.to_csv('submission1.csv', index=False)
sub_df.head()

      id    stroke
0  15304  0.040189
1  15305  0.128816
2  15306  0.000563
3  15307  0.107871
4  15308  0.017899