In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s3e2/sample_submission.csv
/kaggle/input/playground-series-s3e2/train.csv
/kaggle/input/playground-series-s3e2/test.csv

In [2]:
df_train=pd.read_csv('/kaggle/input/playground-series-s3e2/train.csv')
df_test=pd.read_csv('/kaggle/input/playground-series-s3e2/test.csv')

In [3]:
df_train

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15299,15299,Female,22.0,0,0,No,Govt_job,Urban,72.63,19.5,never smoked,0
15300,15300,Female,46.0,1,0,Yes,Private,Urban,101.19,32.1,never smoked,0
15301,15301,Female,75.0,0,0,Yes,Self-employed,Urban,87.69,26.2,never smoked,0
15302,15302,Male,46.0,0,0,Yes,Private,Rural,101.13,22.5,Unknown,0
15303,15303,Female,14.0,0,0,No,Private,Rural,85.12,24.7,never smoked,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [5]:
df_train.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [6]:
df_test

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes
...,...,...,...,...,...,...,...,...,...,...,...
10199,25503,Female,27.0,0,0,No,Private,Urban,75.77,17.6,never smoked
10200,25504,Male,49.0,0,0,Yes,Private,Urban,102.91,26.7,Unknown
10201,25505,Female,3.0,0,0,No,children,Rural,104.04,18.3,Unknown
10202,25506,Male,31.0,0,0,Yes,Private,Urban,82.41,28.7,never smoked
10203,25507,Female,2.0,0,0,No,children,Urban,85.12,14.8,Unknown

In [7]:
df_test.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [8]:
target=df_train[['stroke']]
df_train=df_train.drop(['stroke'],axis=1)

In [9]:
df=pd.concat([df_train,df_test],axis=0)

In [10]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25508 entries, 0 to 10203
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 25508 non-null  int64
 1   gender             25508 non-null  object
 2   age                25508 non-null  float64
 3   hypertension       25508 non-null  int64
 4   heart_disease      25508 non-null  int64
 5   ever_married       25508 non-null  object
 6   work_type          25508 non-null  object
 7   Residence_type     25508 non-null  object
 8   avg_glucose_level  25508 non-null  float64
 9   bmi                25508 non-null  float64
 10  smoking_status     25508 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 2.3+ MB

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked

In [11]:
print(df.hypertension.unique())
print(df.heart_disease.unique())
print(df.work_type.unique())
print(df.Residence_type.unique())
print(df.smoking_status.unique())
print(df.ever_married.unique())
# no natural order thus one-hot encoding the columns
# 5 columns needed to be OHE

[0 1]
[0 1]
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
['Urban' 'Rural']
['never smoked' 'formerly smoked' 'Unknown' 'smokes']
['Yes' 'No']

In [12]:
# df_hyper=df[['hypertension']]
# df_heart=df[['heart_disease']]
df_work=df[['work_type']]
df_Residence=df[['Residence_type']]
df_smoking=df[['smoking_status']]
df_married=df[['ever_married']]
df_gender=df[['gender']]

In [13]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
count,25508.000000,25508.000000,25508.000000,25508.000000,25508.000000,25508.000000
mean,12753.500000,41.618926,0.050416,0.022699,89.103023,28.164577
std,7363.669669,21.307663,0.218805,0.148944,25.651929,6.727105
min,0.000000,0.080000,0.000000,0.000000,55.120000,10.300000
25%,6376.750000,26.000000,0.000000,0.000000,74.980000,23.500000
50%,12753.500000,43.000000,0.000000,0.000000,85.120000,27.700000
75%,19130.250000,57.000000,0.000000,0.000000,96.850000,32.000000
max,25507.000000,82.000000,1.000000,1.000000,267.600000,97.600000

In [14]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
df_work

      work_type
0       Private
1       Private
2       Private
3       Private
4       Private
...         ...
10199   Private
10200   Private
10201  children
10202   Private
10203  children

[25508 rows x 1 columns]

In [17]:
encoder1=OneHotEncoder()
dumm1=pd.DataFrame(encoder1.fit_transform(df_work).toarray(),columns=encoder1.get_feature_names_out(df_work.columns))
encoder1.get_feature_names_out()

array(['work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed',
       'work_type_children'], dtype=object)

In [18]:
dumm1

,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...
25503,0.0,0.0,1.0,0.0,0.0
25504,0.0,0.0,1.0,0.0,0.0
25505,0.0,0.0,0.0,0.0,1.0
25506,0.0,0.0,1.0,0.0,0.0
25507,0.0,0.0,0.0,0.0,1.0

In [19]:
encoder2=OneHotEncoder()
dumm2=pd.DataFrame(encoder2.fit_transform(df_Residence).toarray(),columns=encoder2.get_feature_names_out(df_Residence.columns))
encoder2.get_feature_names_out()

array(['Residence_type_Rural', 'Residence_type_Urban'], dtype=object)

In [20]:
dumm2

       Residence_type_Rural  Residence_type_Urban
0                       0.0                   1.0
1                       1.0                   0.0
2                       1.0                   0.0
3                       0.0                   1.0
4                       1.0                   0.0
...                     ...                   ...
25503                   0.0                   1.0
25504                   0.0                   1.0
25505                   1.0                   0.0
25506                   0.0                   1.0
25507                   0.0                   1.0

[25508 rows x 2 columns]

In [21]:
encoder3=OneHotEncoder()
dumm3=pd.DataFrame(encoder3.fit_transform(df_smoking).toarray(),columns=encoder3.get_feature_names_out(df_smoking.columns))
encoder3.get_feature_names_out()

array(['smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes'],
      dtype=object)

In [22]:
dumm3

,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0
...,...,...,...,...
25503,0.0,0.0,1.0,0.0
25504,1.0,0.0,0.0,0.0
25505,1.0,0.0,0.0,0.0
25506,0.0,0.0,1.0,0.0
25507,1.0,0.0,0.0,0.0

In [23]:
encoder4=OneHotEncoder()
dumm4=pd.DataFrame(encoder4.fit_transform(df_married).toarray(),columns=encoder4.get_feature_names_out(df_married.columns))
encoder4.get_feature_names_out()

array(['ever_married_No', 'ever_married_Yes'], dtype=object)

In [24]:
dumm4

       ever_married_No  ever_married_Yes
0                  0.0               1.0
1                  0.0               1.0
2                  0.0               1.0
3                  0.0               1.0
4                  1.0               0.0
...                ...               ...
25503              1.0               0.0
25504              0.0               1.0
25505              1.0               0.0
25506              0.0               1.0
25507              1.0               0.0

[25508 rows x 2 columns]

In [25]:
encoder5=OneHotEncoder()
dumm5=pd.DataFrame(encoder5.fit_transform(df_gender).toarray(),columns=encoder5.get_feature_names_out(df_gender.columns))
encoder5.get_feature_names_out()

array(['gender_Female', 'gender_Male', 'gender_Other'], dtype=object)

In [26]:
dumm5

       gender_Female  gender_Male  gender_Other
0                0.0          1.0           0.0
1                0.0          1.0           0.0
2                1.0          0.0           0.0
3                0.0          1.0           0.0
4                1.0          0.0           0.0
...              ...          ...           ...
25503            1.0          0.0           0.0
25504            0.0          1.0           0.0
25505            1.0          0.0           0.0
25506            0.0          1.0           0.0
25507            1.0          0.0           0.0

[25508 rows x 3 columns]

In [27]:
df_age=df[['age']]
df_glucose=df[['avg_glucose_level']]
df_bmi=df[['bmi']]

In [28]:
from sklearn.preprocessing import RobustScaler

In [29]:
scaler1=RobustScaler()
scaler2=RobustScaler()
scaler3=RobustScaler()

In [30]:
dumm6=pd.DataFrame(scaler1.fit_transform(df_age),columns=scaler1.get_feature_names_out(df_age.columns))

In [31]:
dumm6

            age
0     -0.483871
1     -0.322581
2     -0.032258
3      0.419355
4     -0.612903
...         ...
25503 -0.516129
25504  0.193548
25505 -1.290323
25506 -0.387097
25507 -1.322581

[25508 rows x 1 columns]

In [32]:
dumm7=pd.DataFrame(scaler2.fit_transform(df_glucose),columns=scaler2.get_feature_names_out(df_glucose.columns))

In [33]:
dumm7

       avg_glucose_level
0              -0.255601
1              -0.305441
2               0.817558
3              -0.925926
4              -0.537723
...                  ...
25503          -0.427526
25504           0.813443
25505           0.865112
25506          -0.123914
25507           0.000000

[25508 rows x 1 columns]

In [34]:
dumm8=pd.DataFrame(scaler3.fit_transform(df_bmi),columns=scaler3.get_feature_names_out(df_bmi.columns))

In [35]:
dumm8

            bmi
0      0.400000
1     -0.447059
2      1.482353
3      0.129412
4      0.129412
...         ...
25503 -1.188235
25504 -0.117647
25505 -1.105882
25506  0.117647
25507 -1.517647

[25508 rows x 1 columns]